$primaryWhite: #ffff;
$primaryBlack: #000000;
$codGrey: #1e1e1e;
$doveGrey: #6b6868;
$brightSun: #fed23f;
$silver: #bcbcbc;
$cornFlowerBlue: #5ea3e7;
$olive: #7d7903;
$green: green;
$orange: #fe6f1d;
$veniceBlue: #045287;



$pampas: #f0ede6;
$tuatara: #31312f;
$baliHai: #8faeb8;
$yellowMetal: #7e703c;
$shipCove: #6586b1;


$vibrantBrightSun: #f9d03f;
$stormDust: #666665;
$olivetone: #7e6b12;
$limedSpruce: #39454c;
$seagull: #7eb7ea;